$padding: 10px;

body > * {
  position: fixed;
  left: 0;
  right: 0;
  padding: $padding;
}

body > header,
body > footer {
  color: $light;
}

body > header {
  top: 0;
  height: 40px;
  background-color: $sky;
  border-bottom: 5px solid $light-sky;
}

body > div {
  top: 40px;
  bottom: 30px;
  overflow: auto;
}

body > footer {
  bottom: 0;
  height: 30px;
  background-color: $sky;
  color: #eee;
  border-top: 2px solid $light;
}
