$padding: 8px;

body {
  & > * {
    position: fixed;
    left: 0;
    right: 0;
  }

  & > header,
  & > footer {
    z-index: 1;
    color: $light;
    padding: 0 $padding;
  }

  & > header {
    top: 0;
    height: 35px;
    background-color: $light-army;
    border-bottom: 5px solid $army;
  }

  & > div {
    z-index: 0;
    top: 35px;
    bottom: 25px;
    overflow: auto;
    border-top: 1px solid $dark-army;
    border-bottom: 1px solid $dark-army;
    padding: $padding;
  }

  & > footer {
    bottom: 0;
    height: 25px;
    background-color: $light-army;
    color: #eee;
    border-top: 2px solid $army;
  }
}
